*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root{
    font-size: 62.5%;

    --turquesa: #065E7C;
    --white: #ffffff;
}

body{
    font-size: 1.6rem;
}

#container{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.padrao{
    margin: 0 auto;
}

.conteudo{
    margin-top: 7.2rem;
    margin-bottom: 5rem;
}

main {
    overflow-y: scroll;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: var(--turquesa);
    padding: 1.5rem;
    width: 100%;
}

.icon{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}

header input{
    font-family: "Mulish", sans-serif;
    padding: 1.2rem 1.4rem;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 4px;
    width: 100%;
    max-width: 2000px;
    box-sizing: border-box;
}

header label{
    position: absolute;
    overflow: hidden;
    height: 1px;
    font-size: 1.6rem;
}

header input::placeholder {
    color: var(--white); /* Defina a cor desejada para o placeholder */
    font-size: 1.6rem;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--turquesa);
    padding: 1.5rem;
    width: 100%;
    color: var(--white);
}

main .img1 {
    width: 100%;
}

section{
    padding: 0 2.2rem 2.2rem;
}

section h1{
    font-size: 2.4rem;
    line-height: 130%;
}

section p{
    margin-top: 3rem;
    font-size: 1.6rem;
}

section h2{
    font-size: 1.8rem;
}

section ul p{
    margin: 0;
}

ul{
    list-style: none;
}

ul li{
    margin-top: 3.2rem;
    display: flex;
    gap: 1.6rem;
}

ul li img{
    width: fit-content;
    height: fit-content;
}


.seila{
    padding-top: 2.2rem;
}

.seila img{
    padding-top: 2.2rem;
}

.lado{
    display: flex;
    gap: 0.8rem;
}

.lado img{
    filter: grayscale(100%);
}

#like:checked + label img {
    /* Aplica um efeito visual na imagem quando o botão está marcado */
    filter: none;
  }

  #unlike:checked + label img {
    /* Aplica um efeito visual na imagem quando o botão está marcado */
    filter: none;
  }


@media(min-width: 1024px){
    .conteudo{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 2.2rem;
        max-width: 145rem;
    }

    .seila{
        display: flex;
        justify-content: space-between;
        padding-top: 2.2rem;
    }

    .seila img{
        padding-top: 0;
    }

}

.img1{
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

.seila{
    --delay: .6s;
    animation: appear .4s var(--delay) backwards;
}

.cont1 p{
    --delay: .8s;
    animation: appear .4s var(--delay) backwards;
}

.seila2{
    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

ul li{
    --delay: .6s;
    animation: appear .4s var(--delay) backwards;
}

@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
}

